html {
    background-color: #161819;
    color: white;
    margin: 1em;
}

.flex {
    display: flex;
    gap: 0.42em;
}

.flex-vert {
    flex-direction: column;
}

.flex-root {
    min-height: calc(100vh - 2.8em);
    align-items: stretch;
}

#input {
    background-color: #161819;
    color: white;
    width: 100%;

    border: 1px solid white;
    border-radius: 5px;
    border-width: 2px;

	white-space: pre;
	overflow-wrap: normal;
	overflow-x: auto;
}

header.flex {
    align-items: center;
}

footer.flex {
    justify-content: center;
}

@media screen and (max-width: 518px) {
  .flex-long {
    flex-direction: column;
  }
}
