name: build
on:
  - push
  - pull_request
  - workflow_dispatch

jobs:
  build:
    strategy:
      matrix:
        java: [ 17 ]
        os: [ ubuntu-22.04 ]

    runs-on: ${{ matrix.os }}
    steps:
      - name: checkout repository
        uses: actions/checkout@v3

      - name: validate gradle wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: make gradle wrapper executable
        run: chmod +x ./gradlew

      - name: setup jdk ${{ matrix.java }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java }}
          distribution: temurin
          cache: gradle

      - name: build
        run: ./gradlew build --no-daemon

      - name: capture fabric build artifacts
        uses: actions/upload-artifact@v3
        with:
          name: stackdeobf-fabric-artifacts
          path: fabric/build/libs
          if-no-files-found: error

      - name: capture web build artifacts
        uses: actions/upload-artifact@v3
        with:
          name: stackdeobf-web-artifacts
          path: web/build/libs
          if-no-files-found: error
